---
import MenuLateral from "../components/astro/MenuLateral.astro";
import BreadCrumb from "../components/vue/BreadCrumb.vue";
import Tabla from "../components/vue/Historial.vue";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reservas SaloneU</title>
  </head>
  <body>
    <script>
      window.onload = function () {
        const token = localStorage.getItem("token");
        if (!token) {
          window.location.href = "/login";
        }
      };
    </script>
    <div class="superContenedor bg-gray-200">
      <div class="contenedor ml-20">
        <MenuLateral />
        <div class="contenido pb-7">
          <div
            class="menuArriba bg-white pt-10 pb-10 pl-10 flex flex-row justify-between"
          >
            <BreadCrumb client:load />
          </div>
          <h2
            class="text-5xl pl-10 md:text-6xl lg:text-6xl mt-8 mb-10 font-bold text-gray-800"
          >
            Historial de Reservas
          </h2>
          <div class="main mr-9 ml-11 pl-5 md:pl-11 lg:pl-15 xl:pl-12">
            <div class="titTop items-baseline flex-row md:flex-col lg:flex-col">
            </div>
            <Tabla client:load />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<style scoped>
  .contenido {
    height: min(100vh);
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px 0px;
  }

  @media (max-width: 600px) {
    .main {
      margin: 0 auto;
    }
  }

  .cerrarSesion {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    width: 8rem;
    height: 1.7rem;
    background-color: #004a8731;
    border: 1px solid #3c72dd;
    color: #3c72dd;
    border-radius: 3px;
  }

  .cerrarSesion:hover {
    background-color: #0065b8;
    border: 2px solid #0065b8;
    color: #ffffff;
  }

  .menuArriba {
    align-items: center;
  }

  .titTop {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
</style>
-->

