---
import LoginForm from "../components/vue/LoginForm.vue";
import "../styles/tailwind.css"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saloneu</title>
</head>
<body>
    <div class="supercontainer">
        <h1 class="text-4xl font-bold text-gray-800 md:text-5xl lg:text-6xl mt-4 mb-8">SaloneU</h1>
        <div class="container">
            <LoginForm client:load />
        </div>
    </div>
</body>
</html>

