---
import '../../styles/tailwind.css'; 
import '../../assets/img/reserva.png';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container grid grid-rows-[1fr_8fr_1fr] h-screen w-20 md:w-30 lg:w-30 xl:w-30 text-center pt-14">
        <a href=""><img src="../../assets/img/" alt="" width="40" height="40"></a>
        <a href=""><img src="" alt="" width="40" height="40"></a>
        <a href=""><img src="" alt="" width="40" height="40"></a>
    </div>    
</body>
</html>

<style scoped>

.container {
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #004a87 50% ,  #5381ff);
    justify-content: center;
}

</style>